{% extends 'base.html' %}

{% block content %}

    <header class="site-header section-padding d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12">
                    <h1>
                        <span class="d-block text-primary">Choose your</span>
                        <span class="d-block text-dark">favorite stuffs</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section class="products section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <h2 class="mb-2">New Arrivals</h2>
                    {% if search_count == 1 %}
                        <p class="lead display-5 text-end">{{search_count}} product found</p>
                    {% else %}
                        <p class="lead display-5 text-end">{{search_count}} products found</p>
                    {% endif %}
                </div>
                {% if searched_items %}
                    {% for searched_item in searched_items %}
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="{{searched_item.get_slug_url}}">
                                    <img src="{{searched_item.image.url}}" class="img-fluid product-image" alt="Product Image">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">{{searched_item.category}}</span>

                                    <a href="#" class="bi-heart-fill product-icon"></a>
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="#" class="product-title-link">{{searched_item.product_name}}</a>
                                        </h5>

                                        <p class="product-p">{{searched_item.description}}</p>
                                    </div>

                                    {% if promo %}
                                        <small class="product-price text-muted ms-auto">&#8358 {{searched_item.promo_price}}</small>
                                    {% else %}
                                        <small class="product-price text-muted ms-auto">&#8358 {{searched_item.price}}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                
                

                <nav class="mt-4" aria-label="page navigation sample">
                {% if searched_items.has_other_pages %}
                <ul class="pagination">
                    
                    {% if searched_items.has_previous %}
                        <li class="page-item"><a href="?page={{searched_items.previous_page_number}}" class="page-link">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                    {% endif %}

                    
                    {% for i in searched_items.paginator.page_range %}
                        {% if searched_items.number == i %}
                            <li class="page-item active"><a href="#" class="page-link">{{i}}</a></li>
                        {% else %}
                            <li class="page-item disabled"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}


                    {% if searched_items.has_next %}
                        <li class="page-item"><a href="?page={{searched_items.next_page_number}}" class="page-link">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                </nav>

            </div>
        </div>
    </section>

{% endblock %}

