{% extends 'base.html' %}

{% block content %}

{% load static %}
    <br><br><br><br><br><br><br>
    <div class="container">
        <div class="text-center">
            <i class="tick"></i>
            <p class="text-dark"><b>Payment Successful</b></p>
            <a href="" class="btn btn-success btn-small">Shop More</a>
        </div>
        <div class="card bg-light px-3 py-3 mx-auto" style="max-width: 720px; margin-top: 20px;">
            <article class="card-body">
                <div class="row ">
                    <div class="col"><img src="{% static 'images\logo.JPG' %}" alt="Logo"></div>
                     <!-- <strong><span>Olola</span>Blingz</strong> -->
                    <div class="col"><p class="mb-0 small text-end"><b>Invoiced To:</b></p>
                        <p class="card-text mb-0 small text-end">{{order.full_name}}</p>
                        <p class="card-text mb-0 small text-end">{{order.full_address}}</p>
                        <p class="card-text mb-0 small text-end">{{order.country}}</p>
                    </div>
                </div>

                <div class="row mb-4">
                    <p class="mb-0 small text-start"><b>Order: #{{order.order_number}}</b></p>
                    <p class="mb-0 small text-start"><b>Transaction: #{{order.payment}}</b></p>
                    <p class="mb-0 small text-start"><b>Order Date: {{order.created_at}}</b></p>
                    <p class="mb-0 small text-start"><b>Status: {{order.status}}</b></p>
                </div>
                <div class="row mx-3">
                    <table class="table table-bordered border-muted">
                        <thead>
                            <tr class="row">
                                <th scope="col" class="col-9 text-center small px-auto py-auto">Product Details</th>
                                <th scope="col" class="col-1 text-center small px-auto py-auto">Qty</th>
                                <th scope="col" class="col-2 text-center small px-auto py-auto">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order_items %}
                                {% for order_item in order_items %}
                                    <tr class="row align-items-center">
                                        <td class="col-9"><p class="card-text text-start small mb-0">{{order_item.product.product_name}}</p>
                                            <p class="text-muted small mb-0">
                                                {% if order_item.variation.all %}
                                                    {% for item in order_item.variation.all %}
                                                        {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td class="col-1"><p class="card-text text-center small">{{order_item.quantity}}</p></td>
                                        <td class="col-2"><p class="card-text text-center small">&#8358 {{order_item.price}}</p></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="row mb-5">
                    <p class="card-text text-dark text-end small"><b>Sub Total: &#8358 {{subtotal}}</b></p>
                    <p class="card-text text-dark text-end small"><b>Tax: &#8358 {{order.tax}}</b></p>
                    <p class="card-text text-dark text-end small"><b>Grand total: &#8358 {{order.order_total}}</b></p>
                </div>
                <div class="row">
                    <p class="card-text text-dark text-center small mb-0">Goods purchased in good condition can not be returned except for glaring factory defect</p>
                    <p class="card-text text-dark text-center small">Thank you for your patronage.</p>
                </div>
            </article>
        </div>
    </div>
    <br><br><br>
{% endblock content %}